## **Spark ML Assignment**
The goal of this assignment is to (1) use Spark to analyze and process data and (2) to train a Spark ML Model.

This notebook was run using Google Colab.

## **Install PySpark Dependencies**
code provided by instructor for this part, load data, and for some of the imports of libraries.

In [ ]:
# Install Spark dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!rm spark-3.2.3-bin-hadoop3.2.tgz
!wget --no-cookies --no-check-certificate https://dlcdn.apache.org/spark/spark-3.2.3/spark-3.2.3-bin-hadoop3.2.tgz
!tar zxvf spark-3.2.3-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark==3.2.3

## **Load Data**

In [ ]:
!wget https://raw.githubusercontent.com/zaratsian/Datasets/master/banking_attrition.csv

## **Import Python / Spark Libraries**

In [ ]:
import os
os.environ["JAVA_HOME"]  = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.3-bin-hadoop3.2"

import datetime, time
import re, random, sys

# Note - Not all of these will be used. 
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, ArrayType, IntegerType, StringType, FloatType, LongType, DateType
from pyspark.sql.functions import struct, array, lit, monotonically_increasing_id, col, expr, when, concat, udf, split, size, lag, count, isnull
from pyspark.sql import Window
from pyspark.ml.linalg import Vectors
from pyspark.ml.regression import GBTRegressor, LinearRegression, GeneralizedLinearRegression, RandomForestRegressor
from pyspark.ml.classification import GBTClassifier, RandomForestClassifier, LogisticRegression
from pyspark.ml.feature import VectorIndexer, VectorAssembler, StringIndexer, IndexToString
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml.evaluation import MulticlassClassificationEvaluator, RegressionEvaluator, BinaryClassificationEvaluator

In [ ]:
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder
from pyspark.ml.tuning import TrainValidationSplitModel

## **Create Spark Session**

In [ ]:
spark = SparkSession.builder.appName("Spark ML Assignment").master("local[*]").getOrCreate()

## **Load CSV Data into Spark Dataframe**

In [ ]:
input_bucket = 'banking_attrition.csv' # this was loaded into local colab drive with wget
df = spark.read.csv(input_bucket, header=True, inferSchema=True)
df.show(10)

+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+
|    uid|age|age_group|    profession|marital_status|  education|default|housing|loan|gender|      balance|membership|charges|customer_contacts|attrition|
+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+
|1000001| 69|      60s|       retired|       married|high school|     no|     no|  no|female| $50k - $100k|      gold|     74|                5|        0|
|1000002| 46|      40s|    management|       married|high school|    yes|     no|  no|  male|  $10k - $50k|    silver|    149|                1|        0|
|1000003| 45|      40s|    management|       married|high school|     no|     no|  no|female|$100k - $250k|  platinum|     58|                5|        1|
|1000004| 54|      50s|administration|      divorced|   graduate|     no|    yes|  no|female|  $10k - $50k|    silver|    317|                4|        1|
|1000005| 36|      30s|    management|        single|high school|     no|    yes|  no|  male| $50k - $100k|      gold|    139|                8|        0|
|1000006| 25|      20s|       student|       married|   graduate|     no|     no|  no|  male|   Over $250k|  platinum|     21|                8|        0|
|1000007| 54|      50s|    management|        single|high school|     no|    yes| yes|female|   Over $250k|  platinum|    128|                0|        0|
|1000008| 49|      40s| manufacturing|        single|   graduate|     no|    yes| yes|  male| $50k - $100k|      gold|     40|                0|        0|
|1000009| 30|      30s|  entrepreneur|       married|   graduate|     no|     no| yes|  male|$100k - $250k|  platinum|    126|                0|        0|
|1000010| 43|      40s|    technician|       married|high school|     no|     no|  no|female|$100k - $250k|  platinum|    102|                1|        0|
+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+
only showing top 10 rows

## **Data Exploration**
Perform at least one data exploration of your choice (This could be a basic show(), an aggregation/[groupby](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.groupBy), [correlation](https://spark.apache.org/docs/latest/ml-statistics.html#correlation), [summarizer](https://spark.apache.org/docs/latest/ml-statistics.html#summarizer), etc.)

In [ ]:
df.describe().show()

+-------+------------------+------------------+---------+--------------+--------------+---------+-------+-------+-----+------+-------------+----------+------------------+------------------+-------------------+
|summary|               uid|               age|age_group|    profession|marital_status|education|default|housing| loan|gender|      balance|membership|           charges| customer_contacts|          attrition|
+-------+------------------+------------------+---------+--------------+--------------+---------+-------+-------+-----+------+-------------+----------+------------------+------------------+-------------------+
|  count|             45211|             45211|    45211|         45211|         45211|    45211|  45211|  45211|45211| 45211|        45211|     45211|             45211|             45211|              45211|
|   mean|         1022606.0| 41.06354648205083|     null|          null|          null|     null|   null|   null| null|  null|         null|      null|123.77065315962929| 1.944593129990489|0.22560881201477517|
| stddev|13051.435846935257|11.678363426789717|     null|          null|          null|     null|   null|   null| null|  null|         null|      null| 90.36019089570658|2.1048085675863932|0.41798724903398016|
|    min|           1000001|                18|      20s|administration|      divorced|  college|     no|     no|   no|female|$100k - $250k|      gold|                 0|                 0|                  0|
|    max|           1045211|                95|      U20|       unknown|        single|  unknown|    yes|    yes|  yes|  male|   Under $10k|    silver|               366|                 9|                  1|
+-------+------------------+------------------+---------+--------------+--------------+---------+-------+-------+-----+------+-------------+----------+------------------+------------------+-------------------+

In [ ]:
df.printSchema() # what did it decide?

root
 |-- uid: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- age_group: string (nullable = true)
 |-- profession: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- membership: string (nullable = true)
 |-- charges: integer (nullable = true)
 |-- customer_contacts: integer (nullable = true)
 |-- attrition: integer (nullable = true)

In [ ]:
print('\r\nTotal Records: ' + str(df.count()) + '\r\n\r\n')
for i in df.dtypes: print(i)

Total Records: 45211


('uid', 'int')
('age', 'int')
('age_group', 'string')
('profession', 'string')
('marital_status', 'string')
('education', 'string')
('default', 'string')
('housing', 'string')
('loan', 'string')
('gender', 'string')
('balance', 'string')
('membership', 'string')
('charges', 'int')
('customer_contacts', 'int')
('attrition', 'int')

In [ ]:
df.groupBy("gender", "profession").avg("charges").show(20)

+------+--------------+------------------+
|gender|    profession|      avg(charges)|
+------+--------------+------------------+
|  male|       retired| 90.06541129831517|
|female|       unknown|  95.6412213740458|
|  male|    consulting|105.07890222984562|
|female|       student|106.88148148148149|
|female|administration|196.62704545454545|
|  male|       student| 104.4538043478261|
|  male| self_employed| 99.64225352112676|
|female|    technician|  97.8839156800462|
|  male|  entrepreneur| 96.58604651162791|
|female|    consulting|110.82528486163864|
|female|    management| 99.05277973258269|
|female|  entrepreneur|104.86695906432749|
|  male|administration|100.57098214285715|
|female|     executive| 92.15077989601386|
|  male|       unknown|            91.625|
|female|       retired| 94.21102661596959|
|  male| manufacturing|108.40989570700945|
|  male|    unemployed| 94.95126353790614|
|female| manufacturing|115.82603578154426|
|female|    unemployed|251.80401878914404|
+------+--------------+------------------+
only showing top 20 rows

In [ ]:
df.where(col("education").contains("high school")).groupBy("marital_status").avg("age").show()

+--------------+------------------+
|marital_status|          avg(age)|
+--------------+------------------+
|      divorced| 38.91083980762116|
|       married|42.275862068965516|
|        single| 37.23961490461758|
+--------------+------------------+

## **Feature Engineering**
Create numeric variables for the qualitative variables.

In [ ]:
inputs = ('age_group', 'profession','marital_status','education','default','housing', 'loan', 'gender', 'balance', 'membership')
# can't do multiple at once!
# https://stackoverflow.com/questions/36942233/apply-stringindexer-to-several-columns-in-a-pyspark-dataframe
indexers = [StringIndexer(inputCol=column, outputCol=column+"_idx", stringOrderType="frequencyDesc").fit(df) for column in inputs ]
pipeline = Pipeline(stages=indexers)
indexed = pipeline.fit(df).transform(df)
indexed.show()

+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+
|    uid|age|age_group|    profession|marital_status|  education|default|housing|loan|gender|      balance|membership|charges|customer_contacts|attrition|age_group_idx|profession_idx|marital_status_idx|education_idx|default_idx|housing_idx|loan_idx|gender_idx|balance_idx|membership_idx|
+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+
|1000001| 69|      60s|       retired|       married|high school|     no|     no|  no|female| $50k - $100k|      gold|     74|                5|        0|          4.0|           6.0|               0.0|          1.0|        0.0|        1.0|     0.0|       0.0|        3.0|           2.0|
|1000002| 46|      40s|    management|       married|high school|    yes|     no|  no|  male|  $10k - $50k|    silver|    149|                1|        0|          2.0|           0.0|               0.0|          1.0|        1.0|        1.0|     0.0|       1.0|        1.0|           1.0|
|1000003| 45|      40s|    management|       married|high school|     no|     no|  no|female|$100k - $250k|  platinum|     58|                5|        1|          2.0|           0.0|               0.0|          1.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|
|1000004| 54|      50s|administration|      divorced|   graduate|     no|    yes|  no|female|  $10k - $50k|    silver|    317|                4|        1|          1.0|           3.0|               2.0|          0.0|        0.0|        0.0|     0.0|       0.0|        1.0|           1.0|
|1000005| 36|      30s|    management|        single|high school|     no|    yes|  no|  male| $50k - $100k|      gold|    139|                8|        0|          0.0|           0.0|               1.0|          1.0|        0.0|        0.0|     0.0|       1.0|        3.0|           2.0|
|1000006| 25|      20s|       student|       married|   graduate|     no|     no|  no|  male|   Over $250k|  platinum|     21|                8|        0|          3.0|          10.0|               0.0|          0.0|        0.0|        1.0|     0.0|       1.0|        0.0|           0.0|
|1000007| 54|      50s|    management|        single|high school|     no|    yes| yes|female|   Over $250k|  platinum|    128|                0|        0|          1.0|           0.0|               1.0|          1.0|        0.0|        0.0|     1.0|       0.0|        0.0|           0.0|
|1000008| 49|      40s| manufacturing|        single|   graduate|     no|    yes| yes|  male| $50k - $100k|      gold|     40|                0|        0|          2.0|           1.0|               1.0|          0.0|        0.0|        0.0|     1.0|       1.0|        3.0|           2.0|
|1000009| 30|      30s|  entrepreneur|       married|   graduate|     no|     no| yes|  male|$100k - $250k|  platinum|    126|                0|        0|          0.0|           8.0|               0.0|          0.0|        0.0|        1.0|     1.0|       1.0|        2.0|           0.0|
|1000010| 43|      40s|    technician|       married|high school|     no|     no|  no|female|$100k - $250k|  platinum|    102|                1|        0|          2.0|           2.0|               0.0|          1.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|
|1000011| 32|      30s|    technician|        single|   graduate|     no|     no|  no|  male|  $10k - $50k|    silver|    142|                1|        0|          0.0|           2.0|               1.0|          0.0|        0.0|        1.0|     0.0|       1.0|        1.0|           1.0|
|1000012| 33|      30s|administration|        single|high school|     no|    yes|  no|female|   Over $250k|  platinum|    140|                0|        0|          0.0|           3.0|               1.0|          1.0|        0.0|        0.0|     0.0|       0.0|        0.0|           0.0|
|1000013| 53|      50s|    management|      divorced|high school|     no|    yes|  no|  male| $50k - $100k|      gold|    258|                4|        1|          1.0|           0.0|               2.0|          1.0|        0.0|        0.0|     0.0|       1.0|        3.0|           2.0|
|1000014| 24|      20s|    unemployed|      divorced|high school|     no|    yes|  no|female|  $10k - $50k|    silver|    245|                3|        1|          3.0|           4.0|               2.0|          1.0|        0.0|        0.0|     0.0|       0.0|        1.0|           1.0|
|1000015| 46|      40s| manufacturing|       married|   graduate|     no|    yes|  no|  male|   Over $250k|  platinum|     87|                0|        0|          2.0|           1.0|               0.0|          0.0|        0.0|        0.0|     0.0|       1.0|        0.0|           0.0|
|1000016| 32|      30s|    technician|        single|high school|     no|     no|  no|  male|$100k - $250k|  platinum|    130|                2|        0|          0.0|           2.0|               1.0|          1.0|        0.0|        1.0|     0.0|       1.0|        2.0|           0.0|
|1000017| 53|      50s| manufacturing|      divorced|    college|     no|    yes|  no|female| $50k - $100k|      gold|    262|                4|        1|          1.0|           1.0|               2.0|          2.0|        0.0|        0.0|     0.0|       0.0|        3.0|           2.0|
|1000018| 27|      20s|    technician|       married|   graduate|     no|    yes|  no|  male|   Over $250k|  platinum|     33|                1|        0|          3.0|           2.0|               0.0|          0.0|        0.0|        0.0|     0.0|       1.0|        0.0|           0.0|
|1000019| 36|      30s| manufacturing|        single|    college|     no|    yes|  no|  male|  $10k - $50k|    silver|     58|                0|        0|          0.0|           1.0|               1.0|          2.0|        0.0|        0.0|     0.0|       1.0|        1.0|           1.0|
|1000020| 47|      40s|administration|       married|   graduate|     no|     no|  no|  male|   Over $250k|  platinum|     96|                1|        0|          2.0|           3.0|               0.0|          0.0|        0.0|        1.0|     0.0|       1.0|        0.0|           0.0|
+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+
only showing top 20 rows

In [ ]:
# Count the target variable in data
df.groupBy("attrition").count().show()

+---------+-----+
|attrition|count|
+---------+-----+
|        1|10200|
|        0|35011|
+---------+-----+

### Delete the categorical columns in favor of using the indexed columns 
create reduced dataframe

In [ ]:
df_reduced = indexed.drop(*inputs) # using list of categoricals above
df_reduced = df_reduced.drop("uid") # you could leave this and just not include in features.

In [ ]:
df_reduced.show(10)
for i in df_reduced.dtypes: print(i)

+---+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+
|age|charges|customer_contacts|attrition|age_group_idx|profession_idx|marital_status_idx|education_idx|default_idx|housing_idx|loan_idx|gender_idx|balance_idx|membership_idx|
+---+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+
| 69|     74|                5|        0|          4.0|           6.0|               0.0|          1.0|        0.0|        1.0|     0.0|       0.0|        3.0|           2.0|
| 46|    149|                1|        0|          2.0|           0.0|               0.0|          1.0|        1.0|        1.0|     0.0|       1.0|        1.0|           1.0|
| 45|     58|                5|        1|          2.0|           0.0|               0.0|          1.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|
| 54|    317|                4|        1|          1.0|           3.0|               2.0|          0.0|        0.0|        0.0|     0.0|       0.0|        1.0|           1.0|
| 36|    139|                8|        0|          0.0|           0.0|               1.0|          1.0|        0.0|        0.0|     0.0|       1.0|        3.0|           2.0|
| 25|     21|                8|        0|          3.0|          10.0|               0.0|          0.0|        0.0|        1.0|     0.0|       1.0|        0.0|           0.0|
| 54|    128|                0|        0|          1.0|           0.0|               1.0|          1.0|        0.0|        0.0|     1.0|       0.0|        0.0|           0.0|
| 49|     40|                0|        0|          2.0|           1.0|               1.0|          0.0|        0.0|        0.0|     1.0|       1.0|        3.0|           2.0|
| 30|    126|                0|        0|          0.0|           8.0|               0.0|          0.0|        0.0|        1.0|     1.0|       1.0|        2.0|           0.0|
| 43|    102|                1|        0|          2.0|           2.0|               0.0|          1.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|
+---+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+
only showing top 10 rows

('age', 'int')
('charges', 'int')
('customer_contacts', 'int')
('attrition', 'int')
('age_group_idx', 'double')
('profession_idx', 'double')
('marital_status_idx', 'double')
('education_idx', 'double')
('default_idx', 'double')
('housing_idx', 'double')
('loan_idx', 'double')
('gender_idx', 'double')
('balance_idx', 'double')
('membership_idx', 'double')

### Turn data frame columns into features vector and label

In [ ]:
df_reduced.withColumnRenamed("attrition", "label") # not an inplace transformation
features_cols = [c for c in df_reduced.columns if c not in {"attrition"}]
assembler = VectorAssembler(inputCols = features_cols, outputCol = "features")
assembled = assembler.transform(df_reduced) #  is using sparse/dense interchangably

In [ ]:
assembled.show(5)
features_cols

+---+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+--------------------+
|age|charges|customer_contacts|attrition|age_group_idx|profession_idx|marital_status_idx|education_idx|default_idx|housing_idx|loan_idx|gender_idx|balance_idx|membership_idx|            features|
+---+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+--------------------+
| 69|     74|                5|        0|          4.0|           6.0|               0.0|          1.0|        0.0|        1.0|     0.0|       0.0|        3.0|           2.0|[69.0,74.0,5.0,4....|
| 46|    149|                1|        0|          2.0|           0.0|               0.0|          1.0|        1.0|        1.0|     0.0|       1.0|        1.0|           1.0|[46.0,149.0,1.0,2...|
| 45|     58|                5|        1|          2.0|           0.0|               0.0|          1.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|(13,[0,1,2,3,6,8,...|
| 54|    317|                4|        1|          1.0|           3.0|               2.0|          0.0|        0.0|        0.0|     0.0|       0.0|        1.0|           1.0|[54.0,317.0,4.0,1...|
| 36|    139|                8|        0|          0.0|           0.0|               1.0|          1.0|        0.0|        0.0|     0.0|       1.0|        3.0|           2.0|[36.0,139.0,8.0,0...|
+---+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+--------------------+
only showing top 5 rows

['age',
 'charges',
 'customer_contacts',
 'age_group_idx',
 'profession_idx',
 'marital_status_idx',
 'education_idx',
 'default_idx',
 'housing_idx',
 'loan_idx',
 'gender_idx',
 'balance_idx',
 'membership_idx']

In [ ]:
assembled.select('features').show(5,truncate = False) # ok. is using sparse notation sometimes and dense others. 13 is total number columns.

+--------------------------------------------------------+
|features                                                |
+--------------------------------------------------------+
|[69.0,74.0,5.0,4.0,6.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,2.0] |
|[46.0,149.0,1.0,2.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0]|
|(13,[0,1,2,3,6,8,11],[45.0,58.0,5.0,2.0,1.0,1.0,2.0])   |
|[54.0,317.0,4.0,1.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0]|
|[36.0,139.0,8.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,3.0,2.0]|
+--------------------------------------------------------+
only showing top 5 rows

## **Split the Spark Dataframe into Train and Test**
I used a [randomsplit](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.randomSplit) here. Later I want to play with a other options. 
Either two outputs or it outputs a list.

In [ ]:
# training, test = df.randomSplit([0.75, 0.25], seed = 19) # two outputs
splits = assembled.randomSplit([0.75, 0.25], seed = 19) # list output

In [ ]:
# training.count()
splits[0].count()

33841

## **Fit/Train ML Model**

In [ ]:
lr = LogisticRegression(regParam=0.3, elasticNetParam=0.8)
lr.setMaxIter(10) # alternate way to set parameters
model = lr.fit(splits[0].withColumnRenamed("attrition", "label")) #uses names features and label by default.

## **Make Predictions**
Use your model to make predications against the Test (holdout) Dataframe

In [ ]:
predictions = model.transform(splits[1]) # (test)

In [ ]:
predictions.show()

+---+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+--------------------+--------------------+--------------------+----------+
|age|charges|customer_contacts|attrition|age_group_idx|profession_idx|marital_status_idx|education_idx|default_idx|housing_idx|loan_idx|gender_idx|balance_idx|membership_idx|            features|       rawPrediction|         probability|prediction|
+---+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+--------------------+--------------------+--------------------+----------+
| 18|     85|                7|        0|          7.0|          10.0|               1.0|          3.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|[18.0,85.0,7.0,7....|[1.32707387410786...|[0.79035620733538...|       0.0|
| 19|      0|                7|        0|          7.0|          10.0|               1.0|          3.0|        0.0|        1.0|     0.0|       1.0|        2.0|           0.0|[19.0,0.0,7.0,7.0...|[1.51943108561624...|[0.82045468978043...|       0.0|
| 19|     11|                6|        0|          7.0|          10.0|               1.0|          2.0|        0.0|        1.0|     0.0|       0.0|        1.0|           1.0|[19.0,11.0,6.0,7....|[1.49453779942104...|[0.81675839476569...|       0.0|
| 19|     95|                5|        0|          7.0|          10.0|               1.0|          3.0|        0.0|        1.0|     0.0|       0.0|        3.0|           2.0|[19.0,95.0,5.0,7....|[1.30444361393040...|[0.78658188608981...|       0.0|
| 19|    107|                5|        0|          7.0|          10.0|               1.0|          0.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|[19.0,107.0,5.0,7...|[1.27728730171745...|[0.78198766137058...|       0.0|
| 19|    118|                8|        0|          7.0|          10.0|               1.0|          0.0|        0.0|        1.0|     0.0|       0.0|        3.0|           2.0|[19.0,118.0,8.0,7...|[1.25239401552225...|[0.77771400159260...|       0.0|
| 19|    124|                8|        0|          7.0|          10.0|               1.0|          0.0|        0.0|        1.0|     0.0|       0.0|        0.0|           0.0|(13,[0,1,2,3,4,5,...|[1.23881585941578...|[0.77535783020597...|       0.0|
| 19|    128|                6|        0|          7.0|          10.0|               1.0|          0.0|        0.0|        1.0|     0.0|       1.0|        1.0|           1.0|[19.0,128.0,6.0,7...|[1.22976375534480...|[0.77377722325468...|       0.0|
| 19|    142|                5|        0|          7.0|          10.0|               1.0|          2.0|        0.0|        1.0|     0.0|       0.0|        1.0|           1.0|[19.0,142.0,5.0,7...|[1.19808139109636...|[0.76818329781464...|       0.0|
| 19|    155|                8|        1|          7.0|          10.0|               1.0|          0.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|[19.0,155.0,8.0,7...|[1.16866205286566...|[0.76290309035346...|       0.0|
| 19|    161|                5|        0|          7.0|          10.0|               1.0|          0.0|        0.0|        1.0|     0.0|       0.0|        3.0|           2.0|[19.0,161.0,5.0,7...|[1.15508389675919...|[0.76043828595463...|       0.0|
| 20|      4|                8|        0|          3.0|          10.0|               1.0|          3.0|        0.0|        1.0|     0.0|       1.0|        2.0|           0.0|[20.0,4.0,8.0,3.0...|[1.51037898154526...|[0.81911736510127...|       0.0|
| 20|      5|                5|        0|          3.0|          10.0|               1.0|          0.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|[20.0,5.0,5.0,3.0...|[1.50811595552751...|[0.81878182369654...|       0.0|
| 20|     44|                0|        0|          3.0|          10.0|               1.0|          1.0|        0.0|        0.0|     0.0|       0.0|        2.0|           0.0|(13,[0,1,3,4,5,6,...|[1.41985794083543...|[0.80531614504716...|       0.0|
| 20|     58|                0|        0|          3.0|           5.0|               1.0|          1.0|        0.0|        0.0|     0.0|       0.0|        0.0|           0.0|(13,[0,1,3,4,5,6]...|[1.38817557658699...|[0.80030082461124...|       0.0|
| 20|     94|                0|        0|          3.0|          10.0|               0.0|          1.0|        0.0|        0.0|     0.0|       0.0|        1.0|           1.0|(13,[0,1,3,4,6,11...|[1.30670663994815...|[0.78696153574802...|       0.0|
| 20|     94|                7|        0|          3.0|          10.0|               1.0|          3.0|        0.0|        1.0|     0.0|       1.0|        2.0|           0.0|[20.0,94.0,7.0,3....|[1.30670663994815...|[0.78696153574802...|       0.0|
| 20|     95|                8|        0|          3.0|          10.0|               1.0|          2.0|        0.0|        1.0|     0.0|       1.0|        2.0|           0.0|[20.0,95.0,8.0,3....|[1.30444361393040...|[0.78658188608981...|       0.0|
| 20|    157|                5|        0|          3.0|          10.0|               1.0|          0.0|        0.0|        1.0|     0.0|       0.0|        2.0|           0.0|[20.0,157.0,5.0,3...|[1.16413600083017...|[0.76208343524812...|       0.0|
| 20|    171|                5|        0|          3.0|          10.0|               0.0|          0.0|        0.0|        1.0|     0.0|       0.0|        0.0|           0.0|(13,[0,1,2,3,4,8]...|[1.13245363658173...|[0.75629142474093...|       0.0|
+---+-------+-----------------+---------+-------------+--------------+------------------+-------------+-----------+-----------+--------+----------+-----------+--------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

## **Evaluate Model against Test Dataframe**
Display model fit statistics.

In [ ]:
bi_evaluator = BinaryClassificationEvaluator(labelCol="attrition", metricName='areaUnderROC')  # areaUnderROC | areaUnderPR
areaunderroc = bi_evaluator.evaluate(predictions)
print("Area Under ROC: " + str(areaunderroc))

Area Under ROC: 0.8873319171210698

In [ ]:
# Print True Positive vs. False Positives
predictions.groupBy('attrition','prediction').count().show()
# Multiclass Evaluator
mc_evaluator = MulticlassClassificationEvaluator(labelCol="attrition", predictionCol="prediction", metricName="accuracy") #f1|weightedPrecision|weightedRecall|accuracy
accuracy     = mc_evaluator.evaluate(predictions)
print("Accuracy:       " + str(accuracy))

+---------+----------+-----+
|attrition|prediction|count|
+---------+----------+-----+
|        1|       0.0| 2533|
|        0|       0.0| 8837|
+---------+----------+-----+

Accuracy:       0.7772207563764292

## Save the Model Object 

Write spark code that saves the model object.

In [ ]:
spark.sparkContext.getConf().getAll()
os.getcwd()
os.chdir('/content') # this is the default in colab
wd = os.getcwd()
model.write().overwrite().save(wd + "/model_named") # this is a path as place. not a file name. 
os.listdir('.')
# not clear this is a rest or gRPC endpoint - the model is now in folders

['.config',
 'drive',
 'wd',
 'model',
 'model_named',
 'spark-3.2.3-bin-hadoop3.2.tgz',
 'banking_attrition.csv',
 'spark-3.2.3-bin-hadoop3.2',
 'sample_data']

In [ ]:
os.chdir('model_named')
os.listdir('.')

['data', 'metadata']

## Download the model to local google drive. 
Have to give permissions once you mount it.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

zip up the files in the folders since is not a single file. is multiple folders

In [ ]:
import zipfile
folder_path = '/content/model_named'
zip_path = '/content/model.zip'

with zipfile.ZipFile(zip_path, 'w', zipfile.ZIP_DEFLATED) as zipf:
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            zipf.write(os.path.join(root, file))

In [ ]:
os.listdir('..')

['.config',
 'drive',
 'wd',
 'model.zip',
 'model',
 'model_named',
 'spark-3.2.3-bin-hadoop3.2.tgz',
 'banking_attrition.csv',
 'spark-3.2.3-bin-hadoop3.2',
 'sample_data']

## Transfer the file to my Google Drive.

In [ ]:
import shutil
src = '/content/model.zip'
dst = '/content/drive/cloudcomputing/model.zip'
shutil.copyfile(src,dst)
# that seemed to work.